<div id="container">
  <button (click)="toggleGrid()">Toggle Grid</button>
  <button (click)="toggleAxes()">Toggle Axes</button>
  <button (click)="toggleDepthAnalyzer()">Toggle Depth Analyzer</button>
  <div>
    <label for="backgroundSelect">Select Background Color:</label>
    <select
      id="backgroundSelect"
      [(ngModel)]="selectedBackground"
      (change)="onBackgroundChange()"
    >
      <option *ngFor="let option of backgroundOptions" [value]="option.value">
        {{ option.viewValue }}
      </option>
    </select>
  </div>
  <button (click)="getLength()">Length</button>
  <button (click)="getArea()">Area</button>

  <lib-dimensional-fossil-viewer
    [modelPath]="modelPath"
    [texturePath]="texturePath"
  ></lib-dimensional-fossil-viewer>
</div>
